.card {
    margin-bottom: 15px;
    height: 300px; /* Defina a altura fixa desejada */
    overflow: hidden; 
  }
  
img{
    width: 100%;
    max-height: 300px;
}
.btn{
  display: flex;
  justify-content: center;
}
main{
    background-color: darkblue;
    color: white;
}
html{
    background-color: green;
}
nav{
    background-color: yellow;
}